<div id="wrapper">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">zipcode</a>
    </div>

        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
        </ul>
</nav>

<div id="page-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard <small>Find Cities in a Radius</small>
                </h1>
            </div>
            <form ng-submit="findCities()">
                <div class="form-group">
                    <label for="InputLatitude">Latitude</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="InputLatitude" placeholder="Enter A Latitude" ng-model="latInput">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Inputlongitude">Latitude</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="Inputlongitude" placeholder="Enter A longitude" ng-model="lonInput">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputN">Amount of Cities</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" id="InputN" placeholder="Enter Amount" ng-model="nInput">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <br>
            </form>
            <table class="table" ng-if="cities">
                <tr>
                    <th>zipCode</th>
                    <th>city</th>
                    <th>state</th>
                    <th>latitude</th>
                    <th>longitude</th>
                </tr>
                <tr ng-repeat="item in cities">
                    <td> {{item.zipCode}} </td>
                    <td> {{item.city}} </td>
                    <td>{{item.state}}</td>
                    <td>{{item.latitude}}</td>
                    <td>{{item.longitude}}</td>
                </tr>
            </table>
        </div>


        </div>
    </div>
</div>