<div class="container">

<nav class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">zipcode</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a href="/login">
                <button type="button" class="btn btn-default navbar-btn">Sign in</button>
            </a>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="jumbotron">
        <h1>zipcode, Data Driven Analytics </h1>
        <p>You want to harness big data? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
</div>

<div class="row" ng-controller='zipCodeLookUpController'>
    <div class="col-lg-8 col-lg-offset-2 panel">
        <div class="row">
            <div  class="col-lg-6">
                <h2>Take us for a test drive</h2>
                <br>
                <form ng-submit="findZip()">
                    <div class="form-group">
                        <label for="InputZipCode">ZipCode</label>
                        <div class="row">
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="InputZipCode" placeholder="Enter A ZipCode" ng-model="zipInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div  class="col-lg-6" ng-if="response">
                <h3>Answer</h3>
                <h4 >City: {{response.city}}</h4>
                <h4 >Lat: {{response.lat}}</h4>
                <h4 >Lon: {{response.lon}}</h4>
            </div>
        </div>
    </div>
</div>
    <br>
    <br>
    <div class="container">
        <div>
            <nav class="navbar navbar-inverse navbar-static-bottom" role="navigation">
                <div><p class="navbar-text navbar-right">&copy; zipcode 2014 &nbsp;</p></div>
            </nav>
        </div>
    </div>
</div>